@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Preahvihear&display=swap');

*{
    padding: 0%;
    margin: 0%;
    
}

body{
    height: 100%;
    width: 100%;
    background: url("./src/Background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.section1{
    height: 100vh;
    width: 65%;
    display: flex;
    justify-content: center;
    /* background: #000; */
    
    /* align-items: center; */
}


.nav{
    width: 100%;
    height: 5%;
    background-color: #1A0B2E;
    /* border-bottom:1px white solid; */
    display: flex;
    justify-content: center;
    gap: 30vw;
    align-items: center;
    /* padding: 0vw 12vw; */
}


.logo{
    /* background: #000; */
    padding-right: 8vw;
    height: 50%;
    display: flex;
    align-items: center;

}

.logo img{
    cursor: pointer;
    height: 3vw;
    width: 1vw;
}



.menu{
    display: flex;
    align-items: center;
    gap: 10vw;
}

.menu a{
    text-decoration: none;
    color: white;
    font-family:'Plus Jakarta Sans';
    font-size: 0.7vw;
}

.main-parent{
    width: 100%;
    /* background: saddlebrown; */
    height: fit-content;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.parent{
    /* background: #000; */
    padding-top: 5vw;
    height: 420px; /* give children a real height so the background can render */
    width: 40vw;
    display: flex;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./src/Gradient.png") no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /* background-color: #1A0B2E; */
    width: 600px;
    height: 70%;
    min-height: 320px; /* keep visible even if parent height changes */
}

.profile img{
    width: 70%;
    
}


.profile-right{
    color: white;
    /* background: #000; */

}


.profile-right h3{
    white-space: nowrap;
    padding-bottom: 6vw;
    font-size: 0.7vw;
    font-family: 'Preahvihear';
    font-weight: normal;
}

.profile-right span{
    color: #7127BA;

}

.profile-right p{
    font-family: "Preahvihear";
    font-style: italic;
    font-size: 0.8vw;
}

.profile-right h1{
    font-family: "Preahvihear";
    font-weight: normal;
    width: 100%;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 3.3vw;
}

.profile-right p{
    padding-top: 0.7vw;
    white-space: nowrap;
    font-size: 0.6vw;
}
/* =================================== */

.title{
    width: 65%;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: 2px;
}

.title a{
    color: #165bbd;
}



.section2{
    display: flex;
    width: 65%;
    /* background: #000; */
    flex-direction: column;
    margin-bottom: 15vw;
}

.section2 h3{
    color: white;
    font-weight: normal;
    font-family: "Preahvihear";
    padding-bottom: 4vw;


}

.parent2{
    display: flex;
    gap: 1vw;
    width: 100%;
    /* background: #000; */
    height: 100%;
    flex-wrap: wrap;
    /* justify-content: center; */

}

.we{
    /* background: white; */
    border-top: 1px solid #673cde;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    width: 45%;
    padding: 1vw 0vw;
    background: linear-gradient(to right, #130429, #321161);
    border-radius: 5px;
    /* font-family: "Preahvihear"; */
}

.we img{
    width: 8vw;
}

.we h4{
    font-weight: normal;
    font-size: 1.4vw;
    
}

.we p{
    font-size: 0.8vw;
}

.we a{
    background: #190a2e;
    border: 1px solid #634096;
    border-radius: 5px;
    font-size: 0.5vw;
    font-weight: normal;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
}

.section3 {
    width: 65%;
    display: flex;
    justify-content: center;
}

.section4{
    display: flex;
    width: 65%;
     position: relative;

}

.left4{
    width: 50%;

}
.left4 p{
    color: #673cde;
    font-size: 0.8vw;
}

.left4 h1{
    color: white;
    font-size: 2vw;
    padding-bottom: 2vw;
}
.left4 img{
    width: 90%;
}
.right4{
    width: 50%;
}

.card4{
   
    /* background: #000; */
    /* background: url("./src/Card.png"); */
}


.card4 p{
    position: absolute;
    color: white;
    font-weight: lighter;
    font-size: 1vw;
    line-height: 1.7vw;
    width: 60%;
    height: auto;
    z-index: 2;
    background: url("/src/Card.png");
    background-repeat: no-repeat;
    border-radius: 10px; 
    padding: 10px 15px;
}

.right4{
    background: #2b0b3a;
    border-radius: 10px;
}


.right4 img{
    width: 100%;
    /* object-fit: cover; */
}